<!doctype html>
<html lang="cs">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Organizuji školení gitu, školení PhpStormu a konzultace efektivního vývoje v týmu. Zabývám se také zakázkovým vývojem v PHP. Můžu pracovat jak samostatně, tak v týmu dalších freelancerů nebo jako součást vašeho interního týmu. ">
    <title>
        Tomáš Fejfar, PHP vývojář a lektor webového vývoje
    </title>

    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        html, body {
            scroll-behavior: smooth;
        }

        .highlight {
            background: #ffcd00;
            color: #212529;
        }

        .jumbotron {
            background-color: #f2f5f7;
        }

        .pehapkari-svg {
            vertical-align: bottom;

        }

        .lead {
            font-weight: 400;
        }

        .jumbotron h1 {
            font-weight: 400;
        }

        .reference .media-body p {
            font-style: italic;
        }
        .favicon-img {
            margin: 3px 0 2px;
            vertical-align: text-bottom;
        }
    </style>
</head>

<body>
<a id="top"></a>
<header class="navbar navbar-expand-lg navbar-light bg-warning">
    <a class="navbar-brand" href="#top">Tomáš Fejfar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav-scroll">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#skoleni">Veřejná školení</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#firemni">Firemní konzultace</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#oMne">O mně</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#reference">Reference</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<div class="container">
    {block content}{/block}
</div>
<footer class="footer">
    <div class="container">
        <p class="text-center"><a href="#top" class="btn btn-light btn-lg">Zpátky nahoru!</a></p>
    </div>
</footer>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-304405-18"></script>
<script n:syntax="off">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-304405-18');
</script>
<script src="js/jquery-3.2.1.slim.min.js?v=1"></script>
<script src="js/popper.min.js?v=1"></script>
<script src="js/bootstrap.min.js?v=1"></script>
</body>
</html>
